head
	title Mont Ceti
	meta(name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no')
	meta(name="theme-color" content="#222")
	link(href='https://fonts.googleapis.com/css?family=Quicksand:400,700,300' rel='stylesheet' type='text/css')
	link(href='https://fonts.googleapis.com/css?family=Roboto:300,100' rel='stylesheet' type='text/css')
	link(href='https://fonts.googleapis.com/css?family=Alegreya+Sans:900,800' rel='stylesheet' type='text/css')
	link(href='https://fonts.googleapis.com/css?family=Satisfy:400' rel='stylesheet' type='text/css')
	link(href='/assets/css/animate.css' rel='stylesheet')
	// link(href='/ratchet-2.0.2/dist/css/ratchet.min.css' rel='stylesheet')