.contact-div
	height 700px
.sign-div
	margin-top 50px	
h6.fadeInLeft
	letter-spacing 2px
	font-weight bold
	-webkit-animation-duration .3s
	span.ion-android-create
		margin-right 15px
		color #BDBDBD
		text-shadow 1px 1px 1px rgba(0,0,0, 0.5 )
		font-size 2em
hr.fadeInRight
	width 200px
	background-color rgba(0,0,0, 0.5 )
	border none
	-webkit-animation-duration .3s
	
	
#google
	-webkit-animation-duration .5s
	-webkit-animation-delay .255s
	width 200px
	margin-bottom 20px
	h5 
		font-weight bolder
		text-shadow 6px 6px 12px rgba(0,0,0, 0.6 )
		color #BDBDBD
		letter-spacing 1px
#facebook
	-webkit-animation-duration .5s
	-webkit-animation-delay .333s
	background-color #3b5998 !important
	width 200px
	h5
		font-weight bolder
		text-shadow 6px 6px 10px rgba(0,0,0, 0.6 )
		color #BDBDBD
		letter-spacing 1px