template(name='contact')
	div.contact-div
		div.container-fluid.text-center
		
			unless currentUser
				div.sign-div
					h6.animated.fadeInLeft 
						span.ion-android-create
						span SIGN IN WITH
					hr.animated.fadeInRight
					
					//div.container-fluid.animated.zoomIn#contact-sign-div
					a.btn.btn-material-red-700.shadow-z-1.animated.zoomIn#google
						h5 GOOGLE
					br
					a.btn.btn-material-blue-800.shadow-z-1.animated.zoomIn#facebook
						h5 FACEBOOK
			else
				h6 Logged In
