template(name='contact')
	div.contact-div
		div.container-fluid.text-center.heads-div
		
			unless currentUser
				div.sign-div
					h6.animated.fadeInLeft.page-title
						span.ion-android-create
						span SIGN IN WITH
					hr.animated.fadeInRight
					
					//div.container-fluid.animated.zoomIn#contact-sign-div
					a.btn.btn-material-red-700.shadow-z-1.animated.zoomIn#google
						h5 GOOGLE
					br
					a.btn.btn-material-blue-800.shadow-z-1.animated.zoomIn#facebook
						h5 FACEBOOK
			else
				div.chat-div
					h6
						span.pull-left.animated.fadeInRight
							span.fa.fa-user &nbsp;&nbsp;
							span #{user}
						span.signout.pull-right.animated.fadeInLeft
							span SIGN OUT
							span.fa.fa-sign-out
					br
					div.chat-box
						+each messages
							div(class='#{format}')
								p #{message}
								p.time {{momentFormat createdAt}}
					div.message-input
						+autoForm id='insertMessage' type='insert' collection='Messages'
							+afQuickField id='message-input' name='message' placeholder='ASK US ANYTHING..' autocomplete='off'
					//a.btn.btn-default#logout logout

