.home-div
	height 600px
	margin 0 auto
	
#home1
	//-webkit-animation-delay 2s
#home2
	-webkit-animation-delay 0.3s
#home3
	-webkit-animation-delay 0.6s

a.brand > div
	display inline-block
.divider
	height 15px
	width 1px
	background -webkit-linear-gradient(rgba(255,255,255,0), #ffa84c, rgba(255,255,255,0))
	-webkit-animation-iteration-count infinite
	-webkit-animation-duration 3s