template(name='home')
	div.container-fluid.text-center
		div.home-div
			div.module-div.shadow-z-1
				//p.animated.bounceIn#home1 home 1
				//p.animated.bounceIn#home2 home 2
				//p.animated.bounceIn#home3 home 3
				div.divider