template(name='home')
	div.container-fluid.text-center
		div.home-div
			h1.jumbo-heading.animated.fadeInUp
				span Web Apps
			h3.small-heading
				span.animated.zoomIn#for for &nbsp;&nbsp;
				span.business-label.animated.zoomIn BUSINESS

			div.h-divider.animated.slideInLeft

			div.products-list
				h6.products.animated.fadeInUp#product1 ONLINE STORE
				h6.products.animated.fadeInUp#product2 CHAT SERVICE
				h6.products.animated.fadeInUp#product3 ACCOUNTING
				h6.products.animated.fadeInUp#product4 INVENTORY HANDLING
				h6.products.animated.fadeInUp#product5 TASK ORGANIZER
