template(name='foot')
	footer.footer
		nav.navbar.navbar-default.navbar-fixed-bottom
			div.col-xs-4
				a(href='/clients').f-a
					div
						span.fa.fa-building.animated.zoomIn#foot-i-building
					div
						span.foot-label.animated.fadeIn CLIENTS
			div.col-xs-4.text-center
				a(href='/contact').f-a
					div
						span.fa.fa-comments.animated.zoomIn#foot-i-comments
					div
						span.foot-label.animated.fadeIn CONTACT
			div.col-xs-4.text-center
				a(href='/team').f-a
					div
						span.fa.fa-users.animated.zoomIn#foot-i-users
					div
						span.foot-label.animated.fadeIn TEAM