.navbar-fixed-bottom
	background transparent !important
.f-a
	font 100 22px/22px 'Roboto', sans-serif
	color #333
	letter-spacing 3px
	text-shadow 1px 1px 1px rgba(0,0,0, 0.5 )
	.ripple
		background #ffa84c !important
	.foot-label
		font 100 9px/9px 'Roboto', sans-serif
		text-shadow 0px 0px 0px
	text-align center
	//border 1px solid blue
	//div
		//border 1px solid yellow
		
div.col-xs-4
	//border 1px solid red
	padding 0
	//height 50px
a.f-a:hover
	color #eee !important
	text-decoration none
	transition-property color
	transition-duration .3s
	
a.f-a:focus
	color #BDBDBD !important
	text-decoration none
	span.fa
		text-shadow 3px 3px 3px rgba(0,0,0, 0.5 )
		transition-property text-shadow
		transition-duration .5s
	span.foot-label
		color #eee
		transition-property color, font-weight
		transition-duration .3s
		font-weight bold
		
a.f-a > span.foot-label
	color #E0E0E0 
	
// ANIMATION

#foot-i-building
	-webkit-animation-delay 2s
	-webkit-animation-duration .3s
#foot-i-comments
	-webkit-animation-delay 2.2s
	-webkit-animation-duration .3s
#foot-i-users
	-webkit-animation-delay 2.1s
	-webkit-animation-duration .3s
.foot-label
	-webkit-animation-delay 2.5s
	-webkit-animation-duration .5s
	