nav
	background-color #000 !important
	background url('/assets/img/bg/illusion.png')
	//background-color transparent !important
	//border-bottom 1px solid #ccc !important
	padding-top 10px !important
.brand
	font 100 22px/30px 'Roboto', sans-serif
	color #eee
	letter-spacing 3px
	text-shadow 1px 1px 1px rgba(0,0,0, 0.5 )