nav
	background-color #000 !important
	background url('/assets/img/bg/illusion.png')
	//background-color transparent !important
	//border-bottom 1px solid #ccc !important
	padding-top 10px !important
.brand
	font 100 22px/30px 'Roboto', sans-serif
	color #ccc
	letter-spacing 3px
	text-shadow 1px 1px 1px rgba(0,0,0, 0.5 )
	.ripple
		background #ffa84c !important
	
a.brand:hover
	color #eee !important
	text-decoration none
	transition-property color
	transition-duration .5s
	
a.brand:focus
	color #ffa84c !important
	text-decoration none