template(name='head')
	nav.navbar.navbar-default.navbar-fixed-top
		div.container-fluid
			div.navbar-header.text-center
				a(href='/').brand.animated.fadeIn
					div MONT &nbsp;
					div.divider.animated.fadeOut
					div &nbsp; CETI 