template(name='clients')
	div.clients-div
		div.container-fluid.text-center
			h6.animated.fadeInLeft
				span OUR CLIENTS
			hr.animated.fadeInRight
			div.container-fluid.animated.fadeInUp
				h3 PRIMAVER