template(name='clients')
	div.clients-div
		div.container-fluid.text-center.heads-div
			h6.animated.fadeInLeft.page-title
				//span.fa.fa-building
				span OUR CLIENTS
			hr.animated.fadeInRight
			div.container-fluid.clients.animated.fadeInUp
				h3 PRIMAVERA
				h6 Landscape Services
				hr