.clients-div
	height 700px

h6.page-title
	span.fa-building
		margin-right 15px
		color #BDBDBD
		text-shadow 1px 1px 1px rgba(0,0,0, 0.5 )
		font-size 2em

div.clients
	h3
		color #00C853
		//text-shadow -1px -1px -1px #000//rgba(0,0,0, 0.3 )