template(name='team')
	div.team-div
		div.container-fluid.text-center.heads-div

			h6.animated.fadeInLeft.page-title
				span.fa.fa-code#code-icon
				span MEET THE TEAM
			hr.animated.fadeInRight
			div.container-fluid.col-xs-6
				div.module-round.animated.zoomIn#jun
					img(src='/assets/img/heads/jun.jpg' style='width:100%;height:100%')
				div.team-name.animated.fadeInUp
					h6 JUN ORVILLE
				div.team-title.animated.fadeInUp
					h6 Lead Developer
			div.container-fluid.col-xs-6
				div.module-round.animated.zoomIn#join
					span.fa.fa-users.users-head
				div.team-name.animated.fadeInUp
					h6 JOIN US!
				div.team-title.animated.fadeInUp
					h6.sign-with-github Web Design

		div.container-fluid.text-center
			div.module-div-ii.animated.fadeInUp
				h6.ion-quote.module-title.pull-right.animated.zoomIn
				br
				h6 We build high-performance Web & Native apps using Meteor Platform technology for rapid dev & deployment.


